.jumbotron {
  padding-top: 6rem;
  background-color: #FEFAE0;
}

#about {
  padding-top: 6rem;
  background-color: #F2EED7;
}

#projects {
  padding-top: 6rem;
  background-color: #FEFAE0;
}

#contact {
  padding-top: 6rem;
  background-color: #F2EED7;
}
